name: Merge from Feature Branch Develope using Pull Request

on:
  pull_request:
    branches:
      - develop

jobs:
  verification:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Verify Logic & Coverage
        run: mvn test # Add JaCoCo check here later
