name: Runs All Tests then Deploy

on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Final Integration Check
        run: mvn test
      - name: Package & Deploy
        if: success()
        run: echo "Packaging JAR and deploying to AWS EC2..."
